@import url("https://fonts.googleapis.com/css?family=Comfortaa:100,200,300,400,500,700,900");


@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./comp";


html {
    scroll-behavior: smooth;
  }


  body{
    background-color: #f6f6f6;
    color : #666666

  }

  input:focus {
    /* background-color: yellow; */
    border: none !important;
  }